/* Paleta de Cores */
:root {
    --primary-color: #FF4500; /* Laranja */
    --secondary-color: #FFD700; /* Amarelo */
    --neutral-color: #f9f9f9; /* Branco Neutro */
    --text-color: #333; /* Preto Suave */
    --button-hover: #CC3700; /* Vermelho Escuro */
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--neutral-color);
    color: var(--text-color);
}

header {
    text-align: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: white;
    font-size: 24px;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 600px;
    text-align: center;
}

h1, h2 {
    margin: 0;
}

h2 {
    color: var(--primary-color);
    margin-bottom: 10px;
    text-align: center;
}

.info-text {
    font-size: 14px;
    color: gray;
}

form {
    margin-top: 20px;
    margin-right: 20px;
}

textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    font-size: 14px;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-hover);
}


#map {
    height: 400px;
    width: 500px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    font-size: 14px;
}
